POSTGRES_USER=airflow_user
POSTGRES_PASSWORD=airflow_pass
POSTGRES_DB=airflow_db
AIRFLOW_UID=1000  # Run 'id -u' to confirm this value
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=your_pass
_AIRFLOW_WWW_USER_EMAIL=admin@your_email.com
